@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&family=Poppins:ital@1&display=swap');


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-btn{
  margin: 12px 0px;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  border:3px solid  #14c251;
  box-shadow:  1px 1px 5px 5px rgb(227, 227, 227);
  background-color: #17D059;
}

.btn{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  min-width: 7rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  border:none;
  background: linear-gradient(90.07deg, #17D059 -8%, #00ADED 104.95%);
  border-radius: 12px;
}

.form-header{
  height: 5rem;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color:  #85dfa4 ;
  box-shadow:  1px 1px 5px 5px rgb(227, 227, 227);
}

.entry-name{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px #8e8383;
}

.form-content{
  background-color: #c7e6d2;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container{
  width:100%;
  height:680px;
}